html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: #8758FF;
  background: #181818;
}

h1,
h2 {
  margin: 1.5rem 0;
  font-weight: 600;
  font-family: sans-serif;
  line-height: 1.2;
  color: #F2F2F2;
}

h1 {
  text-align: center;
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

.container {
  max-width: 1200px;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
}

/** Grid**/
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}

.flex-small{
  flex-basis: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 30px;
}
.flex-large {
  flex-basis: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

/** Forms **/
[type=text]{
  display: block;
  border: 1px solid #5CB8E4;
  color: #ffffff;
  border-radius: 4px;
  padding: 0.75rem;
  outline: none;
  background: transparent;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  width: 50%;
  line-height: 1;
}

/* Table */
table {
  border-collapse: collapse;
  border: 1px solid #5CB8E4;
  width: 100%;
  max-width: 100%;
}

thead th {
  border-bottom: 2px solid #5CB8E4;
}

tfoot th {
  border-top: 1px solid #5CB8E4;
}

td {
  border-bottom: 1px solid #5CB8E4;
}

th,
td {
  text-align: center;
  padding: 0.5rem;
}

/** Buttons **/
.button, button, [type=submit], [type=reset], [type=button] {
  display: inline-block;
  border: 1px solid #5CB8E4;
  border-radius: 4px;
  background: #5CB8E4;
  color: #ffffff;
  font-weight: 600;
  font-family: sans-serif;
  font-size: 16px;
  padding: 0.25rem 0.75rem;
  margin-right: 0.25rem;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}

.muted-button {
  background: transparent;
  border: 1px solid #5CB8E4;
  color: #8758FF;
}