html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: #8758FF;
  background: #181818;
}

h1,
h2 {
  margin: 24px 0;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1;
  color: #F2F2F2;
}

h1 {
  text-align: center;
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

.container {
  max-width: 1200px;
  padding: 0 16px;
  margin-left: auto;
  margin-right: auto;
}

/** Grid**/
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
}

.flex-small{
  flex-basis: 100%;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 30px;
}

.flex-large {
  flex-basis: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

/** Forms **/
[type=text]{
  display: block;
  background: transparent;
  border: 1px solid #5CB8E4;
  color: #ffffff;
  outline: none;
  border-radius: 4px;
  padding: 12px;
  margin-bottom: 8px;
  font-size: 16px;
  width: 50%;
  line-height: 1;
}

/* Table */
table {
  border-collapse: collapse;
  border: 1px solid #5CB8E4;
  width: 100%;
  max-width: 100%;
}

thead th {
  border-bottom: 2px solid #5CB8E4;
}

tfoot th {
  border-top: 1px solid #5CB8E4;
}

td {
  border-bottom: 1px solid #5CB8E4;
}

th,
td {
  text-align: center;
  padding: 8px;
}

/** Buttons **/
.button, button, [type=submit], [type=reset], [type=button] {
  cursor: pointer;
  display: inline-block;
  border: 1px solid #5CB8E4;
  background: #5CB8E4;
  color: #ffffff;
  border-radius: 4px;
  vertical-align: middle;
  text-align: center;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 4px 12px;
  margin-right: 8px;
}

.muted-button {
  background: transparent;
  border: 1px solid #5CB8E4;
  color: #8758FF;
}